PROJECT_NAME=OS Contribution Matchmaker
API_V1_STR=/api/v1

SECRET_KEY=issuematch-local-super-secret-123456789

MONGODB_URI=mongodb://localhost:27017/issuematch

GITHUB_CLIENT_ID=Ov23liYO0fd3io41T9Vt
GITHUB_CLIENT_SECRET=442fd4a1c9d6f65bfc729b9ec238c7afdc6593df

GOOGLE_AI_STUDIO_API_KEY=dummy-for-local

BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000